astroid==4.0.1
black==25.9.0
click==8.3.0
colorama==0.4.6
dill==0.4.0
docstring-to-markdown==0.17
flake8==7.3.0
importlib_metadata==8.7.0
isort==7.0.0
jedi==0.19.2
mccabe==0.7.0
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
parso==0.8.5
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.1
pyright==1.1.406
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.13.1
pytokens==0.2.0
ruff==0.14.1
tomlkit==0.13.3
typing_extensions==4.15.0
ujson==5.11.0
zipp==3.23.0
